// defaults
@use '_defaults';

// mixins
@use '_variables.scss';

// components
@use 'components/_player.scss';
@use 'components/_nav.scss';
@use 'components/_sidebar.scss';
@use 'components/_title.scss';
@use 'components/_hero.scss';
@use 'components/_profile-card.scss';

// pages
@use 'pages/_art.scss';
@use 'pages/_music.scss';
@use 'pages/_commissions.scss';
@use 'pages/_support.scss';

.body-container {
  display: flex;
  height: 824px;
  // overflow: scroll;
  transition: 1s ease-in-out;
  //   padding: 5px;
}

main {
  color: white;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.388);
  background-blend-mode: darken;
  flex-grow: 1;
  overflow: scroll;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    filter: brightness(0.5);
  }
}

table,
th,
td {
  border: 1px solid grey;
}

th {
  color: rgb(255, 255, 255);
  font-family: 'carta marina';
  width: 150px;
}

section {
  border: 1px solid grey;
  padding: 1em;
  margin: 1em;

  &.section {
    &--profile-card {
      border: 0;
    }
  }
}

h1,
h2 {
  font-family: 'Cambridge', serif;
  display: flex;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 15px;
  color: rgb(235, 240, 255);
  margin-left: 0.5em;
}

h2 {
  font-size: 2em;
  margin: 0;
}

p {
  @include variables.body-text;
}

.gifs {
  padding: 0.5em;
  &__image {
    height: 100px;
  }

  &__banner {
    max-width: 120px;
    height: auto;
  }
}

footer {
  padding: 1em;
}

.socials {
  // padding: 1em;
  display: flex;
  &__list {
    display: flex;
    &-item {
      margin-right: 1em;
      list-style: none;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: rgb(44, 170, 254);
        }
      }
    }
  }
}

.copyright {
  margin-left: auto;
}

.scrolling-container {
  width: 100%; /* Set the width of the container */
  overflow: hidden; /* Hide the overflow */
  white-space: nowrap; /* Prevent the image from wrapping */
}

.scrolling-container img {
  display: inline-block;
  animation: scroll-left 15s linear infinite; /* Adjust the duration as needed */
}

@media only screen and (max-width: 600px) {
  .nav {
    &--mobile {
      display: block;
    }
  }

  .profile-card {
    &__quote {
      // width: 100px;
      text-wrap: wrap;
      animation: none;
    }
  }

  .body-container {
    flex-direction: column;
    min-height: unset;
    max-height: unset;
  }
  main {
    overflow: unset;
  }

  aside {
    display: none;
  }
  // flex: 2;
}

// ANIMATIONS
@keyframes shine {
  0% {
    left: -100%; /* Starts the gradient outside the image */
  }
  100% {
    left: 100%; /* Moves the gradient to the right */
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(200%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
