.hero {
  padding: 0;
  height: 180px;
  // width: 1200px;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    // background-blend-mode: darken;
    object-fit: cover;
    object-position: 50% 30%;
  }
}
