.nav {
  font-family: 'Amador', serif;
  font-size: 1.075em;
  padding: 0.5em;
  // padding-top: 1em;

  &--mobile {
    display: none;
  }

  &__list {
    margin-left: -0.7em;
    padding-right: 0;

    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    &-item {
      // font-size: 1.2em;
      margin-bottom: -0.1em;
      margin-left: 5px;
      height: 40px;
      list-style: none;

      &--logo {
        img {
          max-width: 120px;
          position: relative;
          transform: scale(1.2);
          margin-left: 1.5em;
          margin-bottom: 2em;
        }
      }
      a {
        color: white;
      }
    }
  }

  &__link {
    display: inline-block;
    max-height: 30px;
    // outline: 1px solid rgb(29, 131, 152);

    &-container {
    }

    &-text {
      margin: 0;
      margin-left: 0.7em;
      letter-spacing: 2px;
      color: white;

      /*   &:nth-child(1) {
        margin-top: 0.5em;
        text-align: right;
      } */
    }

    &-underline {
      pointer-events: none;
      // margin-top: 100px;
      // outline: 1px solid blue;
      // max-height: 20px;
      transform: scaleX(-1);
      width: 170px;

      position: relative;
      bottom: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    &--mobile {
      // display: block;
      display: block;

      &__list {
        // flex-direction: row;
        justify-content: right;
        margin-left: auto;
      }
    }
  }
}
