.aside {
  background-image: url('/assets/images/bevels/nav\ bg.jpg');
  background-size: cover;
  background-blend-mode: color-dodge;
  background-color: rgba(0, 0, 0, 0.244);
  width: 180px;
  position: relative;
  overflow: visible;

  &__frame {
    position: absolute;
    top: -27px;
    left: -78px;
    // height: 100%;
    width: auto;
    max-width: none;
    display: block;
    pointer-events: none;
    z-index: 0;
  }

  .nav {
    position: relative;
    z-index: 1;
  }
}

// @media screen and (max-width: 1710px) {
//   .aside {
//     // width: 100%;
//     height: auto;
//     &__frame {
//       height: auto;
//       transform: scale(0.85);
//       top: -90px;
//     }
//   }
// }
